.calc-body {
    height: 600px;
    width: 400px;
    background-color: gray;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding-top: 14px;
}

.display {
    background-color: white;
    border:20px solid gray;
}

.buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}